<%- include("head", {Title: "Home"}) %>
<body>
    <div class="container-xl">
        <div class="row row-cols-12" style="margin: auto;">
            <div class="col-md-9 offset-md-1">
                <a href="/"><img class="rounded img-thumbnail" src="/image/testImage.jpg"></a>
            </div>
            <div class="d-flex justify-content-center col-2">
                <a class="d-flex btn btn-primary px-2 py-1 align-self-center" href="/login" role="button">Login</a>
            </div>
        </div>
    </div>
    <h2>Hi there if you are watching this it mean I am not finish coding this yet.</h2>
</body>